/*@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');*/
@font-face
{
    font-family: "wotfard";
    src: url('/fonts/wotfard-regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('/fonts/wotfard-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/wotfard-regular-webfont.ttf') format('woff'), /* Modern Browsers */
    url('/fonts/wotfard-regular-webfont.ttf')  format('truetype') /* Safari, Android, iOS */
}

@tailwind base;
@tailwind components;
@tailwind utilities;


